

Body{
    background-image: url(../assets/background.jpg);
    background-size: 1920px 946px;
    color: #fff;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-y: hidden;
    overflow-x: hidden;
;
}

canvas{
    border: solid 10px #c27503;
    border-radius: 5px;
    background-image: url(../assets/background__game.png) ;

    
}